.App-header {
  background-color: #6CAFBE;
  color: black;
  font-weight: bold;
  font-size: 36px;
  padding: 10px 20px;
}

.App > div:nth-child(odd) {
  background-color: #041616;
}

.App-header i {
	font-size: 16px;
	float: right;
	padding-right: 40px;
}