.Bio {
	display: flex;
	flex-wrap: wrap;
	text-align: left;
	padding-top: 140px;
}

.Bio > div {
	box-sizing: border-box;
}

@media only screen and (min-width: 1024px) {
	.Bio p {
		padding: 10px 80px;
	}

	.Bio > div {
		max-width: 50%;
	}

	.Bio img {
		margin-top: 0px;
	}
}

.Bio img {
	width: 100%;
	max-width: 350px;
	filter: brightness(80%);
	border-radius: 50%
}

.Bio .img-container {
	width: 100%;
	text-align: center;
}