body {
  background-color: #191F24;
  color: white;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
}

a, b, .fas {
  color: #6CAFBE;
  border-color: #6CAFBE;
}

rect {
	fill: #6CAFBE;
}

h2 {
	margin-bottom: 40px;
}

header {
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.module {
	padding: 40px;
	min-height: 400px;
	box-sizing: border-box;
}

@media only screen and (min-width: 1024px) {
	.module {
		padding: 40px 120px;
	}
}

.note {
	padding-left: 40px;
	font-size: 14px;
}

.small-text {
	font-size: 12px;
}