body {
  background-color: #191F24;
  color: white;
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
}

a, b, .fas {
  color: #5A7B82;
  border-color: #5A7B82;
}

header {
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.module {
	padding: 40px 120px;
	min-height: 400px;
	box-sizing: border-box;
}

.note {
	padding-left: 40px;
	font-size: 14px;
}