.Security {
	padding-left: 0;
	padding-right: 0;
}

.Security .tile-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.Security .tile:nth-child(1) {
	background-color: #6CAFBE;
}

.Security .tile:nth-child(2) {
	background-color: #be856c;
}

.Security .tile:nth-child(3) {
	background-color: #beae6c;
}

.Security .tile:nth-child(4) {
	background-color: #9c6cbe;
}