.Skills {
	padding: 40px 30px 40px 10px;
	text-align: center;
}

.Skills-svg-container {
	overflow: auto;
}

.Skills > h2 {
	margin-bottom: 5px;
}

.Skills text {
	fill: white;
	font-size: 32px;
}

.Skills .x-label {
	transform: translate(570px,570px);
}

@media only screen and (min-width: 1024px) {
	.Skills text {
		font-size: 16px;
	}

	.Skills {
		padding-right: 80px;
	}

	.Skills .x-label {
		transform: translate(600px,450px);
	}
}