.Skills .fas {
	margin: 10px;
	border: 1px solid;
	border-radius: 4px;
	padding: 5px;
}

.Skills .fas:hover {
	cursor: pointer;
}

.Skills > div {
	padding-left: 40px;
}

.Skills h2, .Skills .note {
	margin-bottom: 40px;
}